/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

/* Header */
.header {
    background-color: #33738D;
    color: white;
    padding: 7px;
    display: flex;
    align-items: center;
}

.header h1 {
    margin-left: 10px;
    font-size: 1.5rem;
}

/* Title Section */
.title-section {
    background-color: #E3E5E9;
    text-align: center;
    padding: 73px 20px;
}

.title-section h2 {
    font-size: 2rem;
    margin: 0;
}

.title-section p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #666;
}

/* Countdown Entries Section */
.entries-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.entry {
    text-align: center;
    cursor: pointer;
}

.entry img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.entry p {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* Footer Styles */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the footer content */
    font-size: 0.8rem;
    color: #999999;
    margin-top: 20px;
    padding: 10px 0;
}

.footer a {
    color: #999999;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
